<!--<md-content style="width:70%; margin:0 auto;">
    <md-card>
        <div>
            <md-input-container>
                <label>VIDEO</label>
                <input ng-model="usr.title">
            </md-input-container>
        </div>
        <div>
            <div
                ivh-treeview="courseTree"
                ivh-treeview-expand-to-depth="0"
                ivh-treeview-use-checkboxes="false">
            </div>
        </div>
    </md-card>
</md-content> -->
<div>
  <div layout="row" style="height:100vh">
    <div flex="20" style="height:100%; border-right: 1px solid rgba(0,0,0,0.12);">
        <div
            ivh-treeview="courseTree"
            ivh-treeview-expand-to-depth="0"
            ivh-treeview-use-checkboxes="false">
        </div>
    </div>
    <div flex>
        <div style="width:80%; margin:0 auto;">
            <iframe id="ytplayer" type="text/html" width="100%" height="390"
  src="https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://github.com"
  frameborder="0"></iframe>
        </div>
        
    </div>
  </div>
</div>